<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.ItemInfoMapper">
    <select id="findAllItem" resultType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        SELECT * FROM item_info WHERE uid = #{uid};
    </select>
    <select id="useStgFindItem" resultType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        SELECT * FROM item_info WHERE stg_id = #{stg_id};
    </select>
    <delete id="deleteItem">
        DELETE FROM item_info WHERE it_id = #{it_id};
    </delete>
    <insert id="insertItem">
        INSERT INTO item_info (`it_name`,`it_size`,`it_type`,`best_before`,`date_in_produced`, `it_img`,`stg_id`, `uid`)
        VALUES (#{it_name},#{it_size},#{it_type},#{best_before},#{date_in_produced},#{it_img},#{stg_id},#{uid})
    </insert>
</mapper>

