<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.ItemInfoMapper">
    <select id="findAllItem" resultType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        SELECT * FROM item_info WHERE uid = #{uid};
    </select>
    <select id="useStgFindItem" resultType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        SELECT * FROM item_info WHERE stg_id = #{stg_id};
    </select>
    <delete id="deleteItem">
        DELETE FROM item_info WHERE it_id = #{it_id} and uid = #{uid};
    </delete>
    <insert id="insertItem" parameterType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        INSERT INTO item_info (`it_name`,`it_size`,`it_type`,`best_before`, `it_img`,`stg_id`, `uid`, `entry_time`,`remark`,`it_fav`)
        VALUES (#{it_name},#{it_size},#{it_type},#{best_before},#{it_img},#{stg_id},#{uid},NOW(),#{remark},#{it_fav});
    </insert>
    <select id="getBestBefore">
        SELECT best_before FROM item_info WHERE it_id = #{it_id};
    </select>
    <select id="findFavItem" resultType="canglangpoxiao.smart_store_back.entity.ItemInfo">
        SELECT *
        FROM item_info
        WHERE stg_id IN (SELECT stg_id FROM stg_info WHERE layout_id = #{layout_id}) AND it_fav = 1;
    </select>
    <select id="getItemNum">
        SELECT COUNT(it_id)
        FROM item_info
        WHERE stg_id IN (SELECT stg_id FROM stg_info WHERE layout_id = #{layout_id});
    </select>
    <select id="getItemAttribute">
        SELECT `keyword`,`space`, `size`, `urgn`, `buty`, `freq`, `ligt`, `wter` FROM it_attribute WHERE keyword = #{keyword};
    </select>
    <update id="ChuItem">
        DELETE FROM item_info WHERE it_id = #{it_id};
    </update>
    <update id="updateItemImg">
        UPDATE item_info SET it_img = #{it_img} WHERE it_id = #{it_id};
    </update>
</mapper>

