<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.LayoutInfoMapper">
    <select id="findAllLayout" resultType="canglangpoxiao.smart_store_back.entity.LayoutInfo">
        SELECT * FROM layout_info WHERE uid = #{uid};
    </select>

    <insert id="insertLayout">
        INSERT INTO layout_info (uid, layout_name, layout_size, layout_img)
        VALUES (#{uid}, #{layout_name}, #{layout_size}, #{layout_img});
    </insert>
    <!--找到最后一条插入-->
    <select id="selectLastInsertId">
        SELECT LAST_INSERT_ID() as id;
    </select>
    <!--插入进layout_family表-->
    <insert id="insertLayoutFamily">
        INSERT INTO layout_family(uid, layout_id)
        VALUES (#{uid}, #{layout_id});
    </insert>


    <select id="getLayoutId">
        SELECT DISTINCT li.layout_id, layout_name, layout_size, layout_img
        FROM layout_info li
                 INNER JOIN layout_family lf
                            ON li.layout_id = lf.layout_id WHERE lf.uid = #{uid};
    </select>
    <select id="getFamNum">
        SELECT COUNT(DISTINCT(uid)) FROM layout_family WHERE layout_id = #{layout_id};
    </select>

    <!--用layout拿到uid-->
    <select id="useLayoutGetUid">
        SELECT DISTINCT(lf.uid), uname FROM layout_family lf Inner Join user_info ui ON lf.uid = ui.uid WHERE layout_id = #{layout_id};
    </select>
</mapper>

