<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.MsnInfoMapper">

    <!--扫出任务-->
    <select id="selectMsn">
        SELECT * FROM msn_info WHERE layout_id = #{layout_id}
    </select>

    <!--插入新任务-->
    <insert id="insertMsn">
        INSERT INTO msn_info (msn_name,   msn_desc,  uid_msn_starter, msn_flag, dispatch_time, uid_assigned, layout_id)
        VALUES (#{msn_name},   #{msn_desc},  #{uid_msn_starter}, 1, #{dispatch_time}, #{uid_assigned}, #{layout_id});
    </insert>

    <!--找到最后一条插入-->
    <select id="selectLastMsnInsertId">
        SELECT LAST_INSERT_ID() as id;
    </select>

    <!--编辑任务-->
    <update id="editMsn">
        UPDATE msn_info
        <set>
            <if test="msn_name != null">
                msn_name = #{msn_name},
            </if>
            <if test="msn_desc != null">
                msn_desc = #{msn_desc},
            </if>
            <if test="msn_flag != null">
                msn_flag = #{msn_flag},
            </if>
        </set>
        WHERE msn_id = #{msn_id};
    </update>

    <!--清空所有自己发布的任务-->
    <delete id="deleteMsnByUid">
        DELETE FROM msn_info WHERE uid_msn_starter = #{uid_msn_starter};
    </delete>

    <!--用msn_id删除msn-->
    <delete id="deleteOneMsn">
        DELETE FROM msn_info WHERE msn_id = #{msn_id};
    </delete>

    <!--用msn_id得到对应的layout_id-->
    <select id="msnIdGetLayoutId">
        SELECT layout_id FROM msn_info WHERE msn_id = #{msn_id};
    </select>

</mapper>

