<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.PostInfoMapper">
    <!--插入新推文-->
    <insert id="addNewPost">
        INSERT INTO post_info (post_media, post_name, post_detail, uid)
        VALUES (#{post_media},#{post_name},#{post_detail},#{uid});
    </insert>

    <insert id="insertShared">
        INSERT INTO user_shared (uid, post_id)
        VALUES (#{uid}, #{post_id});
    </insert>

    <!--找到最后一条插入-->
    <select id="selectLastPostInsertId">
        SELECT LAST_INSERT_ID() as id;
    </select>

    <!--精选推文-->
    <select id="insertSelectedPost" resultType="canglangpoxiao.smart_store_back.entity.com.PostInfo">
        {CALL sp_test(
                #{post_id}
              )
        }
    </select>
    <!--下滑刷新出来的条数-->
    <select id="scrollPost" resultType="canglangpoxiao.smart_store_back.entity.com.PostInfo">
        SELECT post_name, uid, post_likes, post_media FROM post_info LIMIT 20;
    </select>
    <!--插入用户点赞表-->
    <insert id="insertLikePost">
        INSERT INTO user_like(uid, post_id) VALUES (#{uid},#{post_id});
    </insert>
    <!--得到用户分享过的帖子，缩略图-->
    <select id="getUserShared">
        SELECT pi.post_id, pi.post_name, pi.post_likes, pi.post_media, pi.post_detail, pi.post_rls_time FROM user_shared us
                                                                   INNER JOIN post_info pi on us.post_id = pi.post_id WHERE us.uid = #{uid};
    </select>
    <!--得到用户点赞的贴子-->
    <select id="getUserLiked">
        SELECT pi.post_id, pi.post_name, pi.post_likes, pi.post_media, pi.post_detail, pi.post_rls_time FROM user_like ul
                                                                   INNER JOIN post_info pi on ul.post_id = pi.post_id WHERE ul.uid = #{uid};
    </select>

    <!--加点赞数-->
    <update id="addPostLike">
        UPDATE post_info
        SET post_likes = post_likes + 1
        WHERE post_id = #{post_id};
    </update>

    <!--获取帖子的详细信息-->
    <select id="getPostDetail">
        SELECT * FROM post_info WHERE post_id = #{post_id};
    </select>

</mapper>

