<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.PostInfoMapper">
    <!--精选推文-->
    <select id="insertSelectedPost" resultType="canglangpoxiao.smart_store_back.entity.com.PostInfo">
        {CALL sp_test(
                #{post_id}
              )
        }
    </select>
    <!--下滑刷新出来的条数-->
    <select id="scrollPost" resultType="canglangpoxiao.smart_store_back.entity.com.PostInfo">
        SELECT post_name, uid, post_likes, post_media FROM post_info LIMIT 20;
    </select>
</mapper>

