<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.RecordMapper">
    <select id="rukuRecord" resultType="canglangpoxiao.smart_store_back.RecordReturn">
        SELECT layout_id ,layout_name, room_name, stg_name, it_name, uname, ruchu_time FROM record JOIN user_info ON record.uid = user_info.uid
        WHERE layout_id = #{layout_id} AND in_flag = 1;
    </select>
    <select id="chukuRecord" resultType="canglangpoxiao.smart_store_back.RecordReturn">
        SELECT layout_id ,layout_name, room_name, stg_name, it_name, uname, ruchu_time FROM record JOIN user_info ON record.uid = user_info.uid
        WHERE layout_id = #{layout_id} AND in_flag = 0;
    </select>
    <insert id="insertRuRecord">
        INSERT INTO record(layout_id,layout_name,room_name,stg_name,it_name,uid,in_flag, ruchu_time, it_id)
        VALUES (#{layout_id},#{layout_name},#{room_name},#{stg_name},#{it_name},#{uid},1, CURRENT_TIME, #{it_id});
    </insert>
    <insert id="updateChuRecord">
        INSERT INTO record (uid, it_name, it_id, stg_name, room_name, layout_name, layout_id, in_flag)
        SELECT uid, it_name, it_id, stg_name, room_name, layout_name, layout_id, 0
        FROM record r2
        WHERE it_id = #{it_id} AND uid = #{uid}
            ON DUPLICATE KEY UPDATE in_flag = VALUES(in_flag);
    </insert>
    <delete id="delete7DAgo">
        DELETE FROM record WHERE DATE(ruchu_time) &lt;= DATE(DATE_SUB(NOW(), INTERVAL 7 DAY));
    </delete>
    <!--get layout_id-->
    <select id="itIdGetLayoutId">
        SELECT layout_id FROM record WHERE it_id = #{it_id};
    </select>
</mapper>