<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.StgInfoMapper">
    <select id="findAllStg" resultType="canglangpoxiao.smart_store_back.entity.StgInfo">
        SELECT * FROM stg_info WHERE uid = #{uid};
    </select>
    <select id="useRoomFindStg" resultType="canglangpoxiao.smart_store_back.entity.StgInfo">
        SELECT * FROM stg_info WHERE room_id = #{room_id};
    </select>
    <select id="findFavStg" resultType="canglangpoxiao.smart_store_back.entity.StgInfo">
        SELECT * FROM stg_info WHERE layout_id = #{layout_id} AND stg_fav = 1;
    </select>
    <select id="getStgNum">
        SELECT COUNT(stg_id) FROM stg_info WHERE layout_id = #{layout_id};
    </select>

    <insert id="insertStg">
        INSERT INTO stg_info (uid,stg_name,room_id,layout_id)
        VALUES (#{uid}, #{stg_name}, #{room_id}, #{layout_id});
    </insert>
</mapper>

