<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="canglangpoxiao.smart_store_back.mapper.UserMapper">

    <select id="findAll" resultType="canglangpoxiao.smart_store_back.entity.User">
        select * from user_info
    </select>
    <insert id="register" parameterType="canglangpoxiao.smart_store_back.entity.User">
        insert into user_info (uname, upwd, u_tel)
        values ('默认昵称',#{upwd},#{u_tel});
    </insert>
    <select id="login" resultType="canglangpoxiao.smart_store_back.entity.User">
        SELECT * FROM user_info WHERE u_tel = #{u_tel}
    </select>
    <!--更新用户图片-->
    <update id="updateUserImg">
        UPDATE user_info SET u_img = #{u_img} WHERE uid = #{uid};
    </update>
    <!--扫出用户页面的信息-->
    <select id="getUserInfo" resultType="canglangpoxiao.smart_store_back.entity.User">
        SELECT uname, u_signature, u_xp, u_fam_num, u_layout_num, u_it_num, u_online, u_img, u_tel FROM user_info WHERE uid = #{uid};
    </select>
    <!--扫出用户POST页面的信息-->
    <select id="getPUserInfo" resultType="canglangpoxiao.smart_store_back.entity.com.UserPost">
        SELECT * FROM user_post WHERE uid = #{uid};
    </select>
    <update id="updateUserInfo">
        UPDATE user_info
        <set>
            <if test="u_img != null">
                u_img = #{u_img},
            </if>
            <if test="uname != null">
                uname = #{uname},
            </if>
            <if test="u_signature != null">
                u_signature = #{u_signature},
            </if>
            <if test="u_xp != null">
                u_xp = #{u_xp},
            </if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE uid = #{uid};
    </update>
    <insert id="inviteFamily">
        INSERT INTO invite_family(invite_code, uid, layout_id) VALUES (#{invite_code},#{uid},#{layout_id});
    </insert>
    <select id="acceptInvite">
        CALL DeleteInviteFamilyRowByCode(#{invite_code});
    </select>
    <select id="usePhoneGetUid">
        SELECT uid FROM user_info WHERE u_tel = #{u_tel};
    </select>
</mapper>

